<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
    <title>{$meta_title}|{:L('_SNS_BACKSTAGE_MANAGE_')}</title>
    
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
	<!--<meta http-equiv="X-UA-Compatible" content="edge" />-->
	<!--zui-->
    <link rel="stylesheet" type="text/css" href="__ZUI__/css/zui.css" media="all">
    <link rel="stylesheet" type="text/css" href="__CSS__/admin.css" media="all">
    <link rel="stylesheet" type="text/css" href="__CSS__/ext.css" media="all">
    <!--zui end-->
    <!-- BEGIN GLOBAL MANDATORY STYLES 
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />-->
    <link href="__PUBLIC__/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="__PUBLIC__/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="__PUBLIC__/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="__PUBLIC__/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/assets/layouts/layout/css/themes/light2.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="__PUBLIC__/assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
   
    <link href="__ROOT__/Public/favicon.ico" type="image/x-icon" rel="shortcut icon">
   

    <!--
        <link rel="stylesheet" type="text/css" href="__CSS__/base.css" media="all">
        <link rel="stylesheet" type="text/css" href="__CSS__/common.css" media="all"-->
    <link rel="stylesheet" type="text/css" href="__CSS__/module.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" media="all">
    <!--<link rel="stylesheet" type="text/css" href="__CSS__/{$Think.config.COLOR_STYLE}.css" media="all">-->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
    <![endif]--><!--[if gte IE 9]><!-->
    <script type="text/javascript" src="__PUBLIC__/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="__JS__/jquery.mousewheel.js"></script>
    <!--<![endif]-->
    <style>
		.form-control{
		    width: inherit;
		}
		
		.p10{
			padding:10px !important;
			height:763px;
			
			overflow: scroll;
		}
		/* .category .order {
		    width: 45px !important;
		}
		.clearfix .order input{
			margin-left: 50px
		}
		.category .name input{
			width:500px !important;
			margin-left: 50px;
		}
		.category > dl > dd > dl > dt .tab-sign{
			display: none;
		}
		.category > dl > dd > dl > dd > dl > dt .tab-sign{
			display: none;
		} */
	</style>
    <block name="style"></block>
    <script type="text/javascript">
        var ThinkPHP = window.Think = {
            "ROOT": "__ROOT__", //当前网站地址
            "APP": "__APP__", //当前项目地址
            "PUBLIC": "__PUBLIC__", //项目公共目录地址
            "DEEP": "{:C('URL_PATHINFO_DEPR')}", //PATHINF{:L("_O_SEGMENTATION_")}
            "MODEL": ["{:C('URL_MODEL')}", "{:C('URL_CASE_INSENSITIVE')}", "{:C('URL_HTML_SUFFIX')}"],
            "VAR": ["{:C('VAR_MODULE')}", "{:C('VAR_CONTROLLER')}", "{:C('VAR_ACTION')}"],
            'URL_MODEL': "{:C('URL_MODEL')}"
        }
        var _ROOT_="__ROOT__";
    </script>
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">

<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="{:U('Index/index')}">
                <img src="__PUBLIC__/assets/layouts/layout/img/logo.png" alt="logo" class="logo-default" /></a>
            <div class="menu-toggler sidebar-toggler">
                <span></span>
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span></span>
        </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        
        <!-- BEGIN TOP NAVIGATION MENU -->
				
        <div class="top-menu ">
			
		
            <ul class="nav navbar-nav pull-right">
            	
            
                <li class="dropdown dropdown-user" id="header_notification_bar">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <i class="icon-copy"></i>
                        <span class="username">当前默认关注项目：{$thisPro}</span>                       
                    </a>
                    
                </li>
                
            
                <!-- BEGIN NOTIFICATION DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <!-- <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="icon-bell"></i>
                        <span class="badge badge-default"> 7 </span>
                    </a>
        			<ul class="dropdown-menu">
                         <li class="external">
                             <h3>
                                 <span class="bold">12 条待处理的</span> 通知</h3>
                             <a href="#">查看所有</a>
                         </li>
                         <li>
                             <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                                 <li>
                                     <a href="javascript:;">
                                         <span class="time">刚刚</span>
                                         <span class="details">
                                             <span class="label label-sm label-icon label-success">
                                                 <i class="fa fa-plus"></i>
                                             </span> 新用户注册 </span>
                                     </a>
                                 </li>
                              </ul>
                         </li>
                    </ul>
               </li>
              END NOTIFICATION DROPDOWN
              
              BEGIN INBOX DROPDOWN
              DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte
              <li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
                  <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                      <i class="icon-envelope-open"></i>
                      <span class="badge badge-default"> 4 </span>
                  </a>
                  <ul class="dropdown-menu">
                      <li class="external">
                          <h3>您有
                              <span class="bold">7 条新</span> 信息</h3>
                          <a href="#">查看全部</a>
                      </li>
                      <li>
                          <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
                              <li>
                                  <a href="#">
                                      <span class="photo">
                                          <img src="__PUBLIC__/assets/layouts/layout3/img/avatar2.jpg" class="img-circle" alt=""> </span>
                                      <span class="subject">
                                          <span class="from"> Lisa Wong </span>
                                          <span class="time">刚刚 </span>
                                      </span>
                                      <span class="message"> Vivamus sed auctor nibh congue nibh. auctor nibh auctor nibh... </span>
                                  </a>
                              </li>
                          </ul>
                       </li>
                   </ul>
               </li>
               END INBOX DROPDOWN
               
               BEGIN TODO DROPDOWN
               DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte
               <li class="dropdown dropdown-extended dropdown-tasks" id="header_task_bar">
                   <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                       <i class="icon-calendar"></i>
                       <span class="badge badge-default"> 3 </span>
                   </a>
                   <ul class="dropdown-menu extended tasks">
                       <li class="external">
                           <h3>您有
                               <span class="bold">12 条待完成</span> 任务</h3>
                           <a href="#">查看全部</a>
                       </li>
                       <li>
                           <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
                               <li>
                                   <a href="javascript:;">
                                       <span class="task">
                                           <span class="desc">New release v1.2 </span>
                                           <span class="percent">30%</span>
                                       </span>
                                       <span class="progress">
                                           <span style="width: 40%;" class="progress-bar progress-bar-success" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                               <span class="sr-only">40% 进度</span>
                                           </span>
                                       </span>
                                   </a>
                               </li>
                            </ul>
                        </li>
                    </ul>
                </li> -->
                <!-- END TODO DROPDOWN -->
                
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <img alt="" class="img-circle" src="__PUBLIC__/assets/layouts/layout/img/avatar3_small.jpg" />
                        <span class="username username-hide-on-mobile">{:session('user_auth.username')} </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <!-- <li>
                            <a href="page_user_profile_1.html">
                                <i class="icon-user"></i> My Profile </a>
                        </li>
                        <li>
                            <a href="app_calendar.html">
                                <i class="icon-calendar"></i> My Calendar </a>
                        </li>
                        <li>
                            <a href="app_inbox.html">
                                <i class="icon-envelope-open"></i> My Inbox
                                <span class="badge badge-danger"> 3 </span>
                            </a>
                        </li>
                        <li>
                            <a href="app_todo.html">
                                <i class="icon-rocket"></i> My Tasks
                                <span class="badge badge-success"> 7 </span>
                            </a>
                        </li> -->
                        <li>
                            <a href="{:U('User/updatePassword')}">
                                <i class="icon-lock"></i> {:L('_PASSWORD_CHANGE_')} </a>
                        </li>
                        <!-- <li><a href="{:U('User/updateNickname')}">{:L('_NICKNAME_CHANGE_')}</a></li> -->
                        
                        <li class="divider"> </li>
                        
                        <li>
                            <a href="{:U('Public/logout')}">
                                <i class="icon-key"></i> 退出 </a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
              <!--   <li class="dropdown dropdown-user">
                <a href="javascript:;" class="dropdown-toggle" onclick="clear_cache()">
                <i class="icon-trash"></i><span class="username"> {:L('_CACHE_CLEAR_')}</span></a>
                </li> -->
                <script>
                    function clear_cache() {
                        var msg = new $.zui.Messager("{:L('_CACHE_CLEAR_SUCCESS_')}{:L('_PERIOD_')}", {placement: 'bottom'});
                        $.get('__ROOT__/cc.php');
                        msg.show()
                    }
                </script>
                
                <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
              <!--   <li class="dropdown dropdown-quick-sidebar-toggler">
                    <a href="javascript:;" class="dropdown-toggle">
                        <i class="icon-logout"></i>
                    </a>
                </li> -->
                <!-- END QUICK SIDEBAR TOGGLER -->
            </ul>
        </div>
		
		<div class="hor-menu">
			<ul class="nav navbar-nav">
				<li class="classic-menu-dropdown ">
					<a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true"> 切换项目
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu pull-left ">
						
						<php>$html;menuList($proList,$html);echo $html;</php>
						
					</ul>
				</li>
			</ul>
		</div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"> </div>
<!-- END HEADER & CONTENT DIVIDER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <!-- BEGIN SIDEBAR -->
        <notempty name="__MENUEX__.child">
        <div class="page-sidebar navbar-collapse collapse">
           <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                <li class="sidebar-toggler-wrapper hide">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler">
                        <span></span>
                    </div>
                    <!-- END SIDEBAR TOGGLER BUTTON -->
                </li>
                <block name="sidebar">
                <volist name="__MENUEX__.child" id="sub_menu">
                    <!-- {:L("_SUB_NAVIGATION_")}-->
                    <notempty name="sub_menu">
							
							<php>
							if($sub_menu['open']){
								echo '<li class="nav-item start active open">';
							}
							else{
								echo '<li class="nav-item">';
							}
							</php>						
							
                            <a href="#" class="nav-link nav-toggle">
                                <notempty name="key">
								<i class="{$sub_menu.icon.icon}"></i>
								<php>unset($sub_menu['icon']);</php>
                                <span class="title">{$key}</span>
		                        <span class="selected"></span>
		                        <span class="arrow open"></span></notempty>
                            </a>
                            <ul class="sub-menu">
                                <volist name="sub_menu" id="menu">
                                	<if condition="$menu[title] neq ''">
									<php>
									if($menu['open']){
										echo '<li class="nav-item start active open">';
									}
									else{
										echo '<li class="nav-item">';
									}
									</php>
                                    
                                        <a href="{$menu.url|U}" class="nav-link ">
											<i class="{$menu.icon}"></i>
											
	                                        <span class="title">{$menu.title}</span>
	                                		<span class="selected"></span>
                                        </a>
                                    </li>
                                    </if>
                                </volist>
                            </ul>
                        </li>
                    </notempty>
                    <!-- /{:L("_SUB_NAVIGATION_")}-->
	                </volist>
	            </block>
	       </ul>
	    </div>
		</notempty>  
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper" style="">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content p10">
            <!-- BEGIN PAGE HEADER-->
    		<block name="body"></block>
		</div>
        <!-- END CONTENT BODY -->
    </div>	
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->

<php>if($report){</php>
<div  class="report_feedback" title="{:L('_REPORT_EXPERIENCE_PLEASE_FILL_')}" data-toggle="modal" data-target="#myModal">
    <div class="report_icon" ></div>
    <span class="label label-badge label-danger report_point">1</span>
</div>

<div class="modal fade in" id="myModal" aria-hidden="false"  style="display: none">
    <div class="modal-dialog" >
        <div class="modal-content">
            <form class="report_form"  action="{:U('admin/admin/submitReport')}" method="post">


            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">{:L('_CLOSE_')}</span></button>
                <h4 class="modal-title">{:L('_REPORT_EXPERIENCE_')}</h4>
            </div>

            <div class="modal-body">

                    <div class="row">
                        <!-- 帖子分类 -->
                        <div class="col-sm-12">
<div>{:L('_THANKS_HOPE_')}</div>

                                <label class="item-label">{:L('_MOOD_MY_')}</label>
                            <div>
                                <select name="q1" class="report-select" style="width:400px;">
                                    <option value="0">{:L('_ELECT_PLEASE_')}</option>
                                    <option>{:L('_HAPPY_')}</option>
                                    <option>{:L('_AGONY_')}</option>
                                    <option>{:L('_LOVE_')}</option>
                                    <option>{:L('_EXPECT_')}</option>
                                </select>
                        </div>

                                <label class="item-label">{:L('_LOVE_MY_OPTION_')}</label>
                            <div>
                                <select name="q2" class="report-select" style="width:400px;">
                                    <option value="0">{:L('_ELECT_PLEASE_')}</option>
                                    <volist name="this_update" id="option">
                                        <option value="{$option|htmlspecialchars}">{$option|htmlspecialchars}</option>
                                    </volist>
                                </select>
                            </div>

                                <label class="item-label">{:L('_HATE_MY_OPTION_')}
                                </label>
                            <div>
                                <select name="q3" class="report-select" style="width:400px;">
                                    <option value="0">{:L('_ELECT_PLEASE_')}</option>
                                    <volist name="this_update" id="option">
                                        <option value="{$option|htmlspecialchars}">{$option|htmlspecialchars}</option>
                                    </volist>
                                </select>
                            </div>


                                <label class="item-label">{:L('_EXPECTATION__MY_OPTION_')}
                                </label>
                            <div>
                                <select name="q4" class="report-select" style="width:400px;">
                                    <option value="0">{:L('_ELECT_PLEASE_')}</option>
                                    <volist name="future_update" id="option">
                                        <option value="{$option|htmlspecialchars}">{$option|htmlspecialchars}</option>
                                    </volist>
                                </select>
                            </div>
                    </div>
                    </div>
            </div>
            <div class="modal-footer">
                <php>if(strval($report['url'])!=''){</php>
                <a class="pull-left" href="{$report['url']}" target="_blank" >{:L('_UPDATE_LOOK_')}</a>
                <php>}</php>
                <button type="submit" class="btn ajax-post" target-form="report_form">{:L('_CONFIRM_')}</button>
            </div>

            </form>
        </div>
    </div>
</div>

<php>}</php>

<!-- BEGIN FOOTER -->
     <div class="page-footer">
         <div class="page-footer-inner"> 2018 &copy;
             <a href="http://www.jinke.com" title="Purchase Metronic just for 27$ and get lifetime updates for free" target="_blank">金科股份</a>
         </div>
         <div class="scroll-to-top">
             <i class="icon-arrow-up"></i>
         </div>
     </div>
<style>
    .relative {
        position: relative;
    }

    .loader-ring {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -120px 0 0 -120px;
        width: 240px;
        height: 240px;
    }

    .loader-ring-light {
        width: 240px;
        height: 240px;
        -moz-border-radius: 50% !important;
        -webkit-border-radius: 50% !important;
        border-radius: 50% !important;
        -moz-box-shadow: 0 4px 0 #ffffff inset;
        -webkit-box-shadow: 0 4px 0 #ffffff inset;
        box-shadow: 0 4px 0 #ffffff inset;
        animation: rotate-360 2s linear infinite;
    }

    .loader-ring-track {
        position: absolute;
        background: #e60122;
        top: 2px;
        left: 2px;
        width: 236px;
        height: 236px;
        -moz-border-radius: 50% !important;
        -webkit-border-radius: 50% !important;
        border-radius: 50% !important;
        -moz-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.15) inset;
        -webkit-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.15) inset;
        box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.15) inset;
    }

    @keyframes rotate-360 {
        from {
            -moz-transform: rotate(0);
            -ms-transform: rotate(0);
            -webkit-transform: rotate(0);
            transform: rotate(0);
        }
        to {
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

</style>
    <div class="loadding hidden" style="position: absolute;width: 100%;height: 100%;top: 0;z-index: 10000;background: #00000040">
        <div class='loader-ring'>
            <div class='loader-ring-light'></div>
            <div class='loader-ring-track'></div>
            <img src="/Application/Admin/Static/images/logo.png" style="position: absolute;top: 50%;left: 50%;width: 200px;margin: -37px 0 0 -102px;border-radius: 50%;" />
        </div>
    </div>
<!-- END FOOTER -->
<script>
    $(function () {
        var config = {
            '.chosen-select'           : {search_contains: true, drop_width: 400,no_results_text:"{:L('_OPTION_MATCHED_NONE_')}"},
            '.report-select'           : {search_contains: true, width: '400px',no_results_text:"{:L('_OPTION_MATCHED_NONE_')}"}
        };
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }

    });

    function floaddingShow() {
        $('.loadding').removeClass('hidden');
    }

    function floaddingHidden() {
        $('.loadding').addClass('hidden');
    }
</script>


<script src="__ZUI__/lib/chosen/chosen.js"></script>
<link href="__ZUI__/lib/chosen/chosen.css" type="text/css" rel="stylesheet">


 <!-- BEGIN CORE PLUGINS -->
        
        <script src="__PUBLIC__/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="__PUBLIC__/assets/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="__PUBLIC__/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>

<!-- {:L("_CONTENT_AREA_")}-->

<!-- /{:L("_CONTENT_AREA_")}-->
<script type="text/javascript">
    (function () {
        var ThinkPHP = window.Think = {
            "ROOT": "__ROOT__", //当前网站地址
            "APP": "__APP__", //当前项目地址
            "PUBLIC": "__PUBLIC__", //项目公共目录地址
            "DEEP": "{:C('URL_PATHINFO_DEPR')}", //PATHINFO分割符
            "MODEL": ["{:C('URL_MODEL')}", "{:C('URL_CASE_INSENSITIVE')}", "{:C('URL_HTML_SUFFIX')}"],
            "VAR": ["{:C('VAR_MODULE')}", "{:C('VAR_CONTROLLER')}", "{:C('VAR_ACTION')}"],
            'URL_MODEL': "{:C('URL_MODEL')}"
        }
    })();
</script>
<script type="text/javascript" src="__STATIC__/think.js"></script>

<!--zui-->
<script type="text/javascript" src="__JS__/common.js"></script>
<script type="text/javascript" src="__JS__/com/com.toast.class.js"></script>
<script type="text/javascript" src="__ZUI__/js/zui.js"></script>
<script type="text/javascript" src="__ZUI__/lib/migrate/migrate1.2.js"></script>
<!--zui end-->
<link rel="stylesheet" type="text/css" href="__JS__/kanban/kanban.css" media="all">
<script type="text/javascript" src="__JS__/kanban/kanban.js"></script>
<script type="text/javascript">
    +function () {
        var $window = $(window), $subnav = $("#subnav"), url;
        $window.resize(function () {
        	//alert($window.height());
            $("#main").css("min-height", $window.height() - 130);
            $(".p10").css("height",$window.height());
            
        }).resize();
		//alert(__JS__);
        // 导航栏超出窗口高度后的模拟滚动条
        var sHeight = $(".sidebar").height();
        var subHeight = $(".subnav").height();
        var diff = subHeight - sHeight; //250
        var sub = $(".subnav");
        if (diff > 0) {
            $(window).mousewheel(function (event, delta) {
                if (delta > 0) {
                    if (parseInt(sub.css('marginTop')) > -10) {
                        sub.css('marginTop', '0px');
                    } else {
                        sub.css('marginTop', '+=' + 10);
                    }
                } else {
                    if (parseInt(sub.css('marginTop')) < '-' + (diff - 10)) {
                        sub.css('marginTop', '-' + (diff - 10));
                    } else {
                        sub.css('marginTop', '-=' + 10);
                    }
                }
            });
        }
    }();
    highlight_subnav("{:U('Admin'.'/'.CONTROLLER_NAME.'/'.ACTION_NAME,$_GET)}")
</script>
<block name="script"></block>
<block name="modal">
</block>


</body>
</html>
