<!doctype html>

<html lang="en" style="">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=9;" />
        <title>{:L("_LOGIN_BACKGROUND_")}</title>
        <link rel="stylesheet" type="text/css" href="__CSS__/login.css" media="all">
        <!--zui-->
        <link rel="stylesheet" type="text/css" href="__ZUI__/css/zui.css" media="all">
        <!--zui end-->
    </head>
    <style type="text/css">
         body {background-image: url('./Application/Admin/Static/images/new_login.jpg');}
         .login_title{
			font-size:20px;
         	 background-color:rgb(233,87,87);
         	color:white;
         	width:100%;
         	text-align:center;
         	 border-radius: 5px 5px 0 0;
         	height: 35px;
         	line-height: 35px;
         }
		.select{
			font-size:14px;
         
         	color:white;
         	width:100%;
         	text-align:center;
         	 border-radius: 5px 5px 0 0;
         	height: 35px;
         	line-height: 35px;
         }
         .radio{
			font-size:15px;
         	float:left;
         	color:gray;
         	width:50%;
         	text-align:center;
         	 border-radius: 5px 5px 0 0;
         	height: 35px;
         	line-height: 35px;
         }
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ddd;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}
    </style>
    
    <body >
        <div id="main-content">

            <!-- 主体 -->
            <div class="login-body">
                <div class="login-main pr">
                    <form action="{:U('login')}" method="post" class="login-form">
                        <h3 class="welcome"><img class="logo" src="__IMG__/new_login_logo.png" style="margin-left: 0px; margin-top: 6px;"><!-- {:L("_LANDING_BACKGROUND_")} --></h3>
                        <div id="itemBox" class="item-box">
                        	
                        	
                        	<div class="login_title input-group user-name" >
                                                                                                 金 品 质 工 程 管 理 系 统
                            </div>
                            <div class="input-group user-name" >
                                <span class="input-group-addon"><img src="__IMG__/user.png" /></span>
                                <input type="text" name="username" class="form-control" placeholder={:L("_USER_NAME_WITH_DOUBLE_")}>
                            </div>
                            <div class="input-group password">
                                <span class="input-group-addon"><img src="__IMG__/psw.png" /></span>
                                <input type="password" name="password"  class="form-control" placeholder={:L("_PASSWORD_WITH_DOUBLE_")}>
                            </div>

                            <if condition="APP_DEBUG eq false">
                                <div class="input-group password">
                                    <span class="input-group-addon"><i class="icon-ok"></i></span>
                                    <input type="text" name="verify"  class="form-control" placeholder={:L("_VERIFICATION_CODE_WITH_DOUBLE_")}  autocomplete="off">
                                    <span class="input-group-btn">
                                    <button  class="btn btn-default reloadverify" type="button"><i class="icon-refresh"></i></button>
                                    </span>
                                </div>


                                <div>
                                    <img class="verifyimg reloadverify" alt={:L("_CLICK_SWITCH_WITH_DOUBLE_")} src="{:U('Public/verify')}">
                                </div>
                            </if>

                        </div>
                        
                        <div class=" input-group user-name">
                        		账号类型：
                        		<select class="form-control" name="from">
                        			<option value="1" checked="checked">本地账号</option>
                        			<option value="2">MDM统一账号</option>
                        		</select>
                        		
                        </div>
                        <div class="login_btn_panel">
                            <button class="login-btn" type="submit">
                                <span class="in"><i class="icon-loading"></i>{:L("_RECORD_WITH_SPACE_")} 中 ..</span>
                                <span class="on">{:L("_RECORD_WITH_SPACE_")}</span>
                            </button>
                            <div class="check-tips"></div>
                        </div>
                    </form>
                     <div style="width: 330px; margin: 0 auto; padding: 25px 30px 13px;">
                    
                    	安卓下载：<img style="width:60px;margin-right:10px;" src="__IMG__/andriod.png" />
                    	ios下载：<img style="width:60px;" src="__IMG__/ios.png" />
                 </div>
                </div>
               
            </div>
        </div>
	<!--[if lt IE 9]>
    <script type="text/javascript" src="__PUBLIC__/js/jquery-2.0.3.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script type="text/javascript" src="__PUBLIC__/js/jquery-2.0.3.min.js"></script>
    <!--<![endif]-->
    <script type="text/javascript" src="__ZUI__/js/zui.js"></script>
    <script type="text/javascript">

		$(document).ready(function(){
			var bodyW = $(window).width() + 'px';
			var hodyH = $(window).height() + 'px';
			$('body').css({
				'width'  : bodyW,
				'height' : hodyH,
				'background-size': bodyW + ' ' + hodyH
			});
		});
    
    	/* 登陆表单获取焦点变色 */
    	$(".login-form").on("focus", "input", function(){
            $(this).closest('.item').addClass('focus');
        }).on("blur","input",function(){
            $(this).closest('.item').removeClass('focus');
        });

    	//表单提交
    	$(document)
	    	.ajaxStart(function(){
	    		$("button:submit").addClass("log-in").attr("disabled", true);
	    	})
	    	.ajaxStop(function(){
	    		$("button:submit").removeClass("log-in").attr("disabled", false);
	    	});

    	$("form").submit(function(){
    		var self = $(this);
    		$.ajax({
    		     url:self.attr("action"),
    		     dataType:'text',
    		     data: self.serialize(), 
    		     type:'post',
    		     success:function(info){
    		    	var data = JSON.parse(info);
    		    	if(data.status){
        				window.location.href = data.url;
        			} else {
                        var msg = new $.zui.Messager(data.info, {placement: 'bottom'});
                        msg.show();
        				//刷新验证码
                        $('[name=verify]').val('');
        				$(".reloadverify").click();
        			}
    		     },
    		     error:function(XMLHttpRequest, textStatus, errorThrown) {
    		       alert(XMLHttpRequest.status);
    		       alert(XMLHttpRequest.readyState);
    		       alert(textStatus);
    		     }});
    		
    	    return false; 
    	});

		$(function(){
			//初始化选中用户名输入框
			//$("#itemBox").find("input[name=username]").focus();
			//刷新验证码
			var verifyimg = $(".verifyimg").attr("src");
            $(".reloadverify").click(function(){
                if( verifyimg.indexOf('?')>0){
                    $(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
                }else{
                    $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
                }
            });

            //placeholder兼容性
                //如果支持
            function isPlaceholer(){
                var input = document.createElement('input');
                return "placeholder" in input;
            }
                //如果不支持
            if(!isPlaceholer()){
                $(".placeholder_copy").css({
                    display:'block'
                })
                $("#itemBox input").keydown(function(){
                    $(this).parents(".item").next(".placeholder_copy").css({
                        display:'none'
                    })
                })
                $("#itemBox input").blur(function(){
                    if($(this).val()==""){
                        $(this).parents(".item").next(".placeholder_copy").css({
                            display:'block'
                        })
                    }
                })
            }
		});
    </script>
</body>
</html>