<html class="device-desktop screen-desktop"><head>
    <meta charset="UTF-8">    
</head>
<body style="margin: 10 200px;">
<p style="margin-left:0;text-indent:0;text-align:center">
    <strong><span style=";font-family: 宋体;font-size: 24px;font-family:宋体">工程暂停令</span></strong>
</p>

<p style="margin-right:9px;margin-left:9px;text-autospace:ideograph-numeric;text-align:center;">
<span style="font-family:宋体">（监理[ {:date('Y',time());} ]暂停令&nbsp;&nbsp;&nbsp;&nbsp;号）</span> 
</p>
<p style="margin-right:9px;margin-left:9px;text-align:left;">
<span style="font-family:宋体">工程名称：</span> 
</p>
<table border="1" style=" width:100%;border-collapse: collapse; border: 1px solid black;">
    <tbody>
        <tr class="firstRow">
            <td valign="top" >
                <p style="line-height:27px">
                    <br/>
                </p>
                <p style="line-height:27px">
                    <span style=";font-family:宋体;font-size:15px">致：</span>
                    <span style=";text-decoration:underline;;font-family: 宋体;font-size: 15px">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                     &nbsp; &nbsp; </span>
                </p>
                <p style="line-height:27px">
                 
                </p>
                <p style="text-indent: 29px;line-height: 27px">
                    <span style=";font-family:宋体;font-size:15px">由于</span>
                    <span style=";text-decoration:underline;;font-family: 宋体;font-size: 15px">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;</span><span style=";font-family:宋体;font-size:15px">原因，现通知你方于</span>
                    <span style=";text-decoration:underline;font-family: 宋体;font-size: 15px">
                    &nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-family:宋体;font-size:15px">年</span>
                    	<span style=";text-decoration:underline;font-family: 宋体;font-size: 15px">
                    	&nbsp;&nbsp;</span><span style="font-family:宋体;font-size:15px">月</span>
                    	<span style=";text-decoration:underline;font-family: 宋体;font-size: 15px">
                    	&nbsp;&nbsp;</span><span style=";font-family:宋体;font-size:15px">日时起，暂停</span>
                    	<span style=";text-decoration:underline;font-family: 宋体;font-size: 15px">
                    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    	<span style=";font-family:宋体;font-size:15px">部位（工序）施工，并按下述要求做好后续工作。</span>
                </p>
                <p style="text-indent: 29px;line-height: 27px">
                    <span style=";font-family:宋体;font-size:15px">要求：</span>
                    <span style="font-family:Calibri;font-size:15px">&nbsp;</span>
                </p>
                <p style="text-indent: 29px;line-height: 27px">
                    <span style="font-family:Calibri;font-size:15px">&nbsp;</span>
                </p>
                <p style="text-indent: 29px;line-height: 27px">
                    <span style="font-family:Calibri;font-size:15px">&nbsp;</span>
                </p>
                <p style="text-indent:29px;line-height:27px">
                    <span style="font-family:Calibri;font-size:15px">&nbsp;</span>
                </p>
                <p style="text-indent:29px;line-height:27px">
                    <span style="font-family:Calibri;font-size:15px">&nbsp;</span>
                </p>
                <p>
                    <span style=";font-family:宋体;font-size:15px">总监理工程师：</span>
                </p>
                <p style="text-align: right;font-family:宋体;font-size:15px">
                    <span style="font-family:宋体;font-size:15px">项目监理机构：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;</span>
                </p>
                <p style="text-align: right;text-indent:29px;line-height:27px">
                    <span style=";font-family:宋体;font-size:15px">年 &nbsp;&nbsp;月 &nbsp;&nbsp;日&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </p>
            </td>
        </tr>
        <tr >
            <td valign="top">
                <p style="line-height:27px">
                    <span style=";font-family:宋体;font-size:15px">审批意见：</span>
                </p>
                <p style="line-height:27px">
                    <span style="font-family:Calibri;font-size:15px">&nbsp;</span>
                </p>
                <p style="line-height:27px">
                    <span style="font-family:Calibri;font-size:15px">&nbsp;</span>
                </p>
                <p style="line-height:27px">
                    <span style="font-family:Calibri;font-size:15px">&nbsp;</span>
                </p>
                <p style="line-height:27px">
                    <span style="font-family:Calibri;font-size:15px">&nbsp;</span>
                </p>
                <p style="line-height:27px">
                    <span style=";font-family:宋体;font-size:15px">建设单位项目负责人：</span>
                </p>
                <p style="text-align: right;font-family:宋体;font-size:15px">
                    <span style="font-family:宋体;font-size:15px">建设单位：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;</span>
                </p>
                <p style="text-align: right;text-indent:29px;line-height:27px">
                    <span style=";font-family:宋体;font-size:15px">年 &nbsp;&nbsp;月 &nbsp;&nbsp;日&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </p>
            </td>
        </tr>
        <tr >
            <td valign="top" >
                <p>
                    <span style="font-family:Calibri;font-size:15px">&nbsp;</span>
                </p>
                <p style="margin-left:22px;text-indent:7px;line-height:27px">
                    <span style=";font-family:宋体;font-size:15px">我方于</span>
                    <span style=";text-decoration:underline;;font-family: 宋体;font-size: 15px">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span style="font-family:宋体;font-size:15px">年</span>
                    <span style=";text-decoration:underline;;font-family: 宋体;font-size: 15px">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span style="font-family:宋体;font-size:15px">月</span>
                    <span style=";text-decoration:underline;font-family: 宋体;font-size: 15px">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-family:宋体;font-size:15px">日
                    </span><span style=";text-decoration:underline;font-family: 宋体;font-size: 15px">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span style=";font-family:宋体;font-size:15px">时收到《工程暂停令》（监理 {:date('Y',time());} 
                    	暂停令 &nbsp;&nbsp;&nbsp;&nbsp;号），现已暂停部位（工序）施工，并按要求进行整改。</span>
                </p>
                <p style="text-indent:29px">
                    <span style="font-family:Calibri;font-size:15px">&nbsp;</span>
                </p>
                <p style="text-indent:29px">
                    <span style="font-family:Calibri;font-size:15px">&nbsp;</span>
                </p>
                <p style="text-indent:29px">
                    <span style="font-family:Calibri;font-size:15px">&nbsp;</span>
                </p>
                <p style="line-height:27px">
                    <span style=";font-family:宋体;font-size:15px">施工单位项目负责人：</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span> 施工项目管理机构：</span>
                </p>
                
                <p style="text-align: right;font-family:宋体;font-size:15px">
                    <span style="font-family:宋体;font-size:15px">施工项目管理机构：         </span>
                </p>
                <p style=" line-height: 15px; text-align: left;">
                    <span>总监理工程师：</span>
                   
                </p>
                <p style="margin-left:5px; line-height: 25.6px; text-align: left;">
                    <span>（签字、加盖执业印章）:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span> 项目监理机构（盖章）：</span>
                </p>
                <p style="text-align: right;text-indent:29px;line-height:27px">
                    <span style=";font-family:宋体;font-size:15px">年 &nbsp;&nbsp;月 &nbsp;&nbsp;日</span><span style=";text-decoration:underline;font-family: 宋体;font-size: 15px">
                    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </p>
            </td>
        </tr>
    </tbody>
</table>
<p style="line-height:27px;text-align: right;">
<b><span style="">重庆市建设工程质量监督总站&nbsp;监制<br>
重庆市城市建设档案馆&nbsp;监制</span></b></p>


</body></html>