<html class="device-desktop screen-desktop"><head>
    <meta charset="UTF-8">   
    <style>
		td{
			margin: 20px;border: 1px solid black;word-break: break-all;
		}
		span{
			font-family: 宋体;
			font-size:19px;
		}
		p{
		margin-right:9px;margin-left:9px;line-height: 8px;
		}
 	</style>
</head>
<body style="margin: 10 200px;">

<p style="margin-left:0;text-indent:0;text-align:center">
    <strong><span style="font-size: 24px;font-family:宋体">监理通知回复单</span></strong>
</p>
<p style="margin-left:0;text-indent:0;text-align:center">（监理[ {$year} ]通知回复单&nbsp; &nbsp;&nbsp;&nbsp;号）</p>
<p style="text-autospace:ideograph-numeric;text-align:justify;text-justify:inter-ideograph">
    <span><span>工程名称：</span> 
     </span>
</p>

<table style="margin:0 auto">

    <tbody>
     <tr>
        	<td valign="top">
                <p>
                    <span>&nbsp;</span>
                </p>
                <p>
                    <span>致：<span style="text-decoration: underline;">
					&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</span>（项目监理机构）</span>
                </p>
                <p style="text-align: left;">
                    <span> 
                    	我方于<span style="text-decoration: underline;">
					&nbsp; &nbsp;</span>年  <span style="text-decoration: underline;">
					&nbsp; &nbsp;</span>月  <span style="text-decoration: underline;">
					&nbsp; &nbsp;</span>日收到《监理通知单》（监理[ {$year} ]通知单&nbsp; &nbsp;&nbsp;&nbsp;号），并按要求整改完善。</span>
                   
                </p>
                <p>
                    <span>&nbsp;</span>
                </p>
                <p style=" line-height: 20px;text-indent: 37px;">                    
                    <span>附件：□ 监理通知单（监理[ {$year} ]通知单&nbsp;&nbsp;&nbsp;&nbsp;号）</span>
                  
                </p>
                 <p style=" line-height: 20px;text-indent: 93px;">                    
                    <span> □ 相关证明文件</span>
                  
                </p>
                <p>
                    <span>&nbsp;</span>
                </p>
                <p>
                    <span>&nbsp;</span>
                </p>
                 <p style=" line-height: 15px; text-align: left;">
                    <span>施工单位项目负责人（签字）:</span>
                  
                </p>
                <p style="margin-left:5px; line-height: 25.6px; text-align: left;">
                    <span>（签字、加盖执业印章）:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span> 施工项目管理机构（盖章）：</span>
                </p>
                <p style="text-align: right;">
                   
                    <span style="  font-size: 19px;">
                    年 &nbsp; &nbsp;月 &nbsp;&nbsp;日</span>
                </p>
               <p>
                    <span>&nbsp;</span>
                </p>
            </td>
        </tr>
        
        <tr>
        	<td valign="top">
         
              
                <p>
                    <span>&nbsp;</span>
                </p>
                
                
                <p style=" line-height: 15px; text-align: left;">
                    <span>复查意见：</span>
                   
                </p>
                <p>
                    <span>&nbsp;</span>
                </p>
                <p>
                    <span>&nbsp;</span>
                </p>
                <p>
                    <span>&nbsp;</span>
                </p>
                 <p style=" line-height: 15px; text-align: left;">
                    <span>专业监理工程师（签字）：</span>
                   
                </p>
                <p style="text-align: right;">
                   
                    <span style="  font-size: 19px;">
                    年 &nbsp; &nbsp;月 &nbsp;&nbsp;日</span>
                </p>
               <p>
                    <span>&nbsp;</span>
                </p>
            </td>
        </tr>
          <tr>
        	<td valign="top">
         
              
                <p>
                    <span>&nbsp;</span>
                </p>
                
                
                <p style=" line-height: 15px; text-align: left;">
                    <span>复核意见：</span>
                   
                </p>
                <p>
                    <span>&nbsp;</span>
                </p>
                <p>
                    <span>&nbsp;</span>
                </p>
                <p>
                    <span>&nbsp;</span>
                </p>
                 <p style=" line-height: 15px; text-align: left;">
                    <span>总监理工程师：</span>
                   
                </p>
                <p style="margin-left:5px; text-align: left;">
                    <span>（签字、加盖执业印章）:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span> 项目监理机构（盖章）：</span>
                </p>
                <p style="text-align: right;">
                   
                    <span style="  font-size: 19px;">
                    年 &nbsp; &nbsp;月 &nbsp;&nbsp;日</span>
                </p>
               <p>
                    <span>&nbsp;</span>
                </p>
            </td>
        </tr>
        
    </tbody>
</table>
<p style="text-align:left">
    <span style="font-size:21px;font-weight:bold">重庆市建设工程质量监督总站监制</span>
</p>
<p style="text-align:left">
    <span style="font-size:21px;font-weight:bold">重庆市城市建设档案馆监制</span>
</p>






</body></html>